h1 {
  color: blue;
}

#mainBody {
  display: flex;
  justify-content: space-evenly;
}

#key {
  background-color: green;
}

#which {
  background-color: green;
}

#code {
  background-color: green;
}
